.section-shadow {
    height: 740px;
    max-width: 1184px;
    padding: 0;
    background: url("./../../images/cover-trains.jpg");
    background-clip: content-box;
    background-size: cover;
    box-shadow: inset 80em 0 rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: 1.5s linear;
    margin: 92px auto;
    position: relative;
}

.section-shadow:hover {
    box-shadow: inset 80em 0 rgba(0, 0, 0, 0.8), 0 4px 4px rgba(0, 0, 0, 0.25), inset 0 0 1px 1px rgba(0,0,0,1);
    box-sizing: border-box;
}

@media screen and (max-width: 1202px) {
    .section-shadow {
        max-height: 62.5vw;
        
    }
}

@media screen and (max-width: 320px) {
    .section-little {
        margin: 66px 0;
    }
}