.lang {
    margin: 0;
    padding: 0 0 6px 0;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: end;
    min-width: 88px;
}

@media screen and (max-width: 1024px) {
    .lead__subtitle {
        margin-bottom: 56px;
    }
}