.place {
    display: grid;
    gap: 40px;
    grid-template-columns: repeat(auto-fit, minmax(min-content, 440px));
    /*grid-template-rows: repeat(2, minmax(min-content, max-content));*/
    margin-top: 92px;
}

@media screen and (max-width: 1024px) {
    .place {
        gap: 32px;
        margin-top: 80px;
    }
}
@media screen and (max-width: 1007px) {
    .place {
        gap: 28px;
        grid-template-columns: repeat(auto-fit, minmax(min-content, 340px));
    }
}