.place__link {
    font-size: 18px;
    line-height: 22px;
    color: #fff;
}

@media screen and (max-width: 768px) {
    .place__link {
        /*font-size: 12px;
        line-height: 12px;*/
    }
}
