.place {
  display: grid;
  gap: 40px;
  grid-template-columns: repeat(auto-fit, minmax(40%, 1fr));
  /*grid-template-rows: repeat(2, minmax(min-content, max-content));*/
  margin-top: 92px;
}

@media screen and (max-width: 1024px) {
  .place {
    gap: 32px;
    margin-top: 80px;
  }
}

@media screen and (max-width: 768px) {

  .place:first-child {
    margin-top: 88px;
  }
}

@media screen and (max-width: 500px) {
  .place {
    grid-template-columns: auto;
    margin: 0 0 50px 0;
    gap: 32px;
  }

  .place:first-child {
    margin-top: 64px;
  }
}
